<div class="image"
     resizeObserver
     (resized)="onResize($event)"
     *ngIf="!!document">
  <div class="image__border">
    <div #imageOverlay
         class="image__overlay"
         [ngStyle]="styles"
         [ngClass]="{ grab: currentTool === tools.view, grabbing: isDragging && currentTool === tools.view }"
         (mousedown)="onStartDrag($event)">
      <img [src]="document.imageUrl"
           [alt]="document.name"
           (load)="onImageLoad($event)" />
      <!-- Сниппеты -->
      <div class="image__snippets">
        <!-- Добавление текстового снипета -->
        <ng-container [ngTemplateOutlet]="textSnippet"
                      [ngTemplateOutletContext]="{ sizeEditing: true }"
                      *ngIf="currentTool === tools.text && isDragging"></ng-container>
      </div>
    </div>
    <!-- Управление -->
    <div class="image__actions">
      <!-- Перемещение картинки -->
      <button mat-icon-button
              aria-label="Перемещение"
              [disabled]="currentTool === tools.view"
              (click)="onChangeTool(tools.view)"><mat-icon>open_with</mat-icon></button>
      <!-- Добавление текста -->
      <button mat-icon-button
              aria-label="Добавить текст"
              [disabled]="currentTool === tools.text"
              (click)="onChangeTool(tools.text)"><mat-icon>text_fields</mat-icon></button>
      <!-- Добавление картинки -->
      <button mat-icon-button
              aria-label="Добавить картинку"
              [disabled]="currentTool === tools.image"
              (click)="onChangeTool(tools.image)"><mat-icon>add_photo_alternate</mat-icon></button>
      <!-- Увеличить -->
      <button mat-icon-button
              aria-label="Увеличить"
              [disabled]="zoom >= zoomMax"
              (click)="onZoomIn()"><mat-icon>add</mat-icon></button>
      <!-- Уменьшить -->
      <button mat-icon-button
              aria-label="Уменьшить"
              [disabled]="zoom <= zoomMin"
              (click)="onZoomOut()"><mat-icon>remove</mat-icon></button>
    </div>
  </div>
</div>

<!-- Текстовый сниппет -->
<ng-template #textSnippet
             let-sizeEditing>
  <app-document-viewer-text-snippet [sizeEditing]="sizeEditing"
                                    [top]="snippetTop"
                                    [left]="snippetLeft"
                                    [width]="snippetWidth"
                                    [height]="snippetHeight"></app-document-viewer-text-snippet>
</ng-template>