.layout {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  height: 100vh;
}

.loader {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.content {
  overflow-x: hidden;
  overflow-y: scroll;
}
