@use "sass:map";
@use "containers";
@use "colors";

.section {
  background-color: map.get(colors.$matPrimary, 30);
}

.container {
  @include containers.container;
  // Свойства
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.header {
  display: grid;
  align-items: center;
  height: 80px;

  &__title {
    font-size: 24px;
    font-weight: 400;
    color: map.get(colors.$matPrimary, 100);
  }
}
