@use "sass:map";
@use "colors";
@use "mixins";

.section {
  background-color: map.get(colors.$matPrimary, 30);
}

.container {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.header {
  display: flex;
  align-items: center;
  height: 80px;

  &__title {
    @include mixins.lineClamp(1, 1.2, 24px, 0, true);

    font-weight: 400;
    color: map.get(colors.$matPrimary, 100);
  }
}
